
 <div class="page-width">
<div class="new_tabs_system">
  <ul class="tabs">
    <!-- <li><a href="#tab-1">{{ section.settings.first_tab }}</a></li> -->
    <li><a href="#tab-2">{{ section.settings.first_tab2 }}</a></li>
    <li><a href="#tab-3">{{ section.settings.first_tab3 }}</a></li>
  </ul>
  <!-- <div id="tab-1">
  {{ product.description }}
  </div> -->
  <div id="tab-2">
    {{ product.metafields.custom.satisfaction_guarantee }}
  </div>
  <div id="tab-3">
  {{ product.metafields.custom.shoipping }}
  </div>
</div>
 </div>



                          <script>
                            $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
                          </script>

                       <style>
                         .new_tabs_system ul {
	display: flex;
	color: #000 !important;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.new_tabs_system li a {
	color: #000;
	padding: 10px;
	background: #8080807a;
	margin: 10px;
	text-decoration: unset;
}

.new_tabs_system .active {
	background: #000;
	color: #fff !important;
	
}


                       </style> 



{% schema %}
{
  "name": "tabs",
  "tag": "section",
  "class": "section",
  "settings": [
   {
          "type": "text",
          "id": "first_tab",
          "label": "First Tab"
        },
          {
          "type": "text",
          "id": "first_tab2",
          "label": "Second Tab"
        },
          {
          "type": "text",
          "id": "first_tab3",
          "label": "Third Tab"
        }
  
  ],
  "presets": [
    {
      "name": "tabs"
    }
  ]
}
{% endschema %}

