<div id="shopify-section-template--16742497190043__image_with_text_GX73yG" class="shopify-section section">
  <link
    href="//andrii-store-test.myshopify.com/cdn/shop/t/7/assets/component-image-with-text.css?v=132604768413025929601711282261"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify="">
    .section-template--16742497190043__image_with_text_GX73yG-padding {
      padding-top: 27px;
      padding-bottom: 27px;
    }

    @media screen and (min-width: 750px) {
      .section-template--16742497190043__image_with_text_GX73yG-padding {
        padding-top: 36px;
        padding-bottom: 36px;
      }
    }
  </style>
  <div class="section-template--16742497190043__image_with_text_GX73yG-padding gradient color-background-1">
    <div class="page-width">
      <div class="image-with-text image-with-text--no-overlap isolate scroll-trigger animate--slide-in">
        <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet image-with-text__grid--reverse">
          <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--top grid__item">
            <div
              class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent media"
              style="padding-bottom: 56.25%;"
            >
              <img
                src="{{ 'about1.jpg' | asset_url }};width=1500"
                alt=""
                srcset="{{ 'about1.jpg' | asset_url }};width=165 165w, {{ 'about1.jpg' | asset_url }};width=360 360w, {{ 'about1.jpg' | asset_url }};width=535 535w, {{ 'about1.jpg' | asset_url }};width=750 750w, {{ 'about1.jpg' | asset_url }};width=1070 1070w, {{ 'about1.jpg' | asset_url }};width=1500 1500w"
                width="1500"
                height="844"
                sizes="
                  (min-width: 1200px) 550px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                "
                fetchpriority="high"
              >
              {% comment %}
                <img
                  src="//andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=1500"
                  alt=""
                  srcset="//andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=165 165w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=360 360w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=535 535w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=750 750w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=1070 1070w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746077.jpg?v=1711285272&amp;width=1500 1500w"
                  width="1500"
                  height="844"
                  sizes="
                    (min-width: 1200px) 550px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  "
                  fetchpriority="high"
                >
              {% endcomment %}
            </div>
          </div>
          <div class="image-with-text__text-item grid__item">
            <div
              id="ImageWithText--template--16742497190043__image_with_text_GX73yG"
              class="image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent"
            >
              <h2 class="image-with-text__heading inline-richtext h1">World of Technology</h2>
              <div class="image-with-text__text rte body">
                <p>
                  Dive into the world of cutting-edge technology with us—a hub for tech enthusiasts seeking innovation and quality in every product.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- second -->
<div id="shopify-section-template--16742497190043__image_with_text_wgHbgK" class="shopify-section section">
  <link
    href="//andrii-store-test.myshopify.com/cdn/shop/t/7/assets/component-image-with-text.css?v=132604768413025929601711282261"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify="">
    .section-template--16742497190043__image_with_text_wgHbgK-padding {
      padding-top: 27px;
      padding-bottom: 27px;
    }

    @media screen and (min-width: 750px) {
      .section-template--16742497190043__image_with_text_wgHbgK-padding {
        padding-top: 36px;
        padding-bottom: 36px;
      }
    }
  </style>
  <div class="section-template--16742497190043__image_with_text_wgHbgK-padding gradient color-background-1">
    <div class="page-width">
      <div class="image-with-text image-with-text--no-overlap isolate scroll-trigger animate--slide-in">
        <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
          <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--top grid__item">
            <div
              class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent media"
              style="padding-bottom: 56.25%;"
            >
              <img
                src="{{ 'about2.jpg' | asset_url }};width=1500"
                alt=""
                srcset="{{ 'about2.jpg' | asset_url }};width=165 165w, {{ 'about2.jpg' | asset_url }};width=360 360w, {{ 'about2.jpg' | asset_url }};width=535 535w, {{ 'about2.jpg' | asset_url }};width=750 750w, {{ 'about2.jpg' | asset_url }};width=1070 1070w, {{ 'about2.jpg' | asset_url }};width=1500 1500w"
                width="1500"
                height="844"
                sizes="
                  (min-width: 1200px) 550px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                "
                fetchpriority="auto"
              >
              {% comment %}
                <img
                  src="//andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=1500"
                  alt=""
                  srcset="//andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=165 165w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=360 360w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=535 535w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=750 750w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=1070 1070w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_2053746329.jpg?v=1711285316&amp;width=1500 1500w"
                  width="1500"
                  height="844"
                  sizes="
                    (min-width: 1200px) 550px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  "
                  fetchpriority="auto"
                >
              {% endcomment %}
            </div>
          </div>
          <div class="image-with-text__text-item grid__item">
            <div
              id="ImageWithText--template--16742497190043__image_with_text_wgHbgK"
              class="image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent"
            >
              <h2 class="image-with-text__heading inline-richtext h1">Commitment to Quality</h2>
              <div class="image-with-text__text rte body">
                <p>
Our mission is to connect you with the latest electronics and gadgets that make life smarter, easier, and more connected.                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
