<section id="shopify-section-collapsible-content" class="shopify-section section">
  <link
    href="//andrii-store-test.myshopify.com/cdn/shop/t/7/assets/component-accordion.css?v=180964204318874863811711282261"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <link
    href="//andrii-store-test.myshopify.com/cdn/shop/t/7/assets/collapsible-content.css?v=42068948719489434321711282261"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify="">
    .section-collapsible-content-padding {
      padding-top: 27px;
      padding-bottom: 27px;
    }

    @media screen and (min-width: 750px) {
      .section-collapsible-content-padding {
        padding-top: 36px;
        padding-bottom: 36px;
      }
    }
  </style>
  <div class="color-background-1 gradient">
    <div class="collapsible-content collapsible-row-layout isolate">
      <div class="collapsible-content__wrapper section-collapsible-content-padding">
        <div class="page-width">
          <div class="collapsible-content__header scroll-trigger animate--slide-in" style="text-align: center;">
            <h2 class="collapsible-content__heading inline-richtext h1">FAQs</h2>
          </div>
          <div class="grid grid--1-col grid--2-col-tablet collapsible-content__grid collapsible-content__grid--reverse scroll-trigger animate--slide-in">
            <div class="grid__item collapsible-content__grid-item">
              <div class="collapsible-content__media collapsible-content__media--small media global-media-settings gradient">
                <img
                  src="{{'faq.jpg' | asset_url  }};width=3200"
                  alt=""
                  srcset="{{'faq.jpg' | asset_url  }};width=50 50w, {{'faq.jpg' | asset_url  }};width=75 75w, {{'faq.jpg' | asset_url  }};width=100 100w, {{'faq.jpg' | asset_url  }};width=150 150w, {{'faq.jpg' | asset_url  }};width=200 200w, {{'faq.jpg' | asset_url  }};width=300 300w, {{'faq.jpg' | asset_url  }};width=400 400w, {{'faq.jpg' | asset_url  }};width=500 500w, {{'faq.jpg' | asset_url  }};width=750 750w, {{'faq.jpg' | asset_url  }};width=1000 1000w, {{'faq.jpg' | asset_url  }};width=1250 1250w, {{'faq.jpg' | asset_url  }};width=1500 1500w, {{'faq.jpg' | asset_url  }};width=1750 1750w, {{'faq.jpg' | asset_url  }};width=2000 2000w, {{'faq.jpg' | asset_url  }};width=2250 2250w, {{'faq.jpg' | asset_url  }};width=2500 2500w, {{'faq.jpg' | asset_url  }};width=2750 2750w, {{'faq.jpg' | asset_url  }};width=3000 3000w, {{'faq.jpg' | asset_url  }};width=3200 3200w"
                  width="3200"
                  height="2133"
                  sizes="
                    (min-width: 1200px) calc((1200px - 100px) / 2),
                    (min-width: 750px) calc((100vw - 100px) / 2),
                    calc(100vw - 30px)
                  "
                >
                {% comment %}
                  <img src="//andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=3200" alt="" srcset="//andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=50 50w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=75 75w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=100 100w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=150 150w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=200 200w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=300 300w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=400 400w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=500 500w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=750 750w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=1000 1000w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=1250 1250w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=1500 1500w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=1750 1750w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=2000 2000w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=2250 2250w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=2500 2500w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=2750 2750w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=3000 3000w, //andrii-store-test.myshopify.com/cdn/shop/files/shutterstock_1686853369.jpg?v=1711284673&amp;width=3200 3200w" width="3200" height="2133" sizes="(min-width: 1200px) calc((1200px - 100px) / 2),
                    (min-width: 750px) calc((100vw - 100px) / 2),
                    calc(100vw - 30px)">
                {% endcomment %}
              </div>
            </div>

            <div class="grid__item">
              <div class="accordion content-container color-background-2 gradient">
                <details id="Details-collapsible_row_xVhTRU-collapsible-content">
                  <summary
                    id="Summary-collapsible_row_xVhTRU-collapsible-content"
                    role="button"
                    aria-expanded="false"
                    aria-controls="CollapsibleAccordion-collapsible_row_xVhTRU-collapsible-content"
                  >
                    <svg
                      class="icon icon-accordion"
                      aria-hidden="true"
                      focusable="false"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                    >
                      <path d="M18.5 1.5H1.5L1.5 18.5H18.5V1.5ZM1.5 0.5C0.947715 0.5 0.5 0.947715 0.5 1.5V18.5C0.5 19.0523 0.947715 19.5 1.5 19.5H18.5C19.0523 19.5 19.5 19.0523 19.5 18.5V1.5C19.5 0.947715 19.0523 0.5 18.5 0.5H1.5Z" fill-rule="evenodd"></path>
                      <path d="M14.9975 6.09084C15.201 6.27746 15.2147 6.59375 15.0281 6.79728L8.91631 13.4627C8.82231 13.5652 8.68987 13.6239 8.55079 13.6247C8.41172 13.6256 8.27857 13.5684 8.18335 13.4671L4.99513 10.0731C4.80606 9.87179 4.81596 9.55536 5.01723 9.3663C5.21849 9.17723 5.53492 9.18713 5.72399 9.3884L8.54335 12.3897L14.291 6.12145C14.4776 5.91791 14.7939 5.90421 14.9975 6.09084Z"></path>
                    </svg>
                    <h3 class="accordion__title inline-richtext h4">How long does shipping take?</h3>
                    <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </path>
                    </svg>
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-collapsible_row_xVhTRU-collapsible-content"
                    role="region"
                    aria-labelledby="Summary-collapsible_row_xVhTRU-collapsible-content"
                  >
                    <p>
                      Our standard shipping typically takes 3-5 business days for domestic orders. Please note that
                      shipping times may vary based on your location and any potential shipping delays.
                    </p>
                  </div>
                </details>
              </div>
              <div class="accordion content-container color-background-2 gradient">
                <details id="Details-collapsible_row_MU96GB-collapsible-content">
                  <summary
                    id="Summary-collapsible_row_MU96GB-collapsible-content"
                    role="button"
                    aria-expanded="false"
                    aria-controls="CollapsibleAccordion-collapsible_row_MU96GB-collapsible-content"
                  >
                    <svg
                      class="icon icon-accordion"
                      aria-hidden="true"
                      focusable="false"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                    >
                      <path d="M18.5 1.5H1.5L1.5 18.5H18.5V1.5ZM1.5 0.5C0.947715 0.5 0.5 0.947715 0.5 1.5V18.5C0.5 19.0523 0.947715 19.5 1.5 19.5H18.5C19.0523 19.5 19.5 19.0523 19.5 18.5V1.5C19.5 0.947715 19.0523 0.5 18.5 0.5H1.5Z" fill-rule="evenodd"></path>
                      <path d="M14.9975 6.09084C15.201 6.27746 15.2147 6.59375 15.0281 6.79728L8.91631 13.4627C8.82231 13.5652 8.68987 13.6239 8.55079 13.6247C8.41172 13.6256 8.27857 13.5684 8.18335 13.4671L4.99513 10.0731C4.80606 9.87179 4.81596 9.55536 5.01723 9.3663C5.21849 9.17723 5.53492 9.18713 5.72399 9.3884L8.54335 12.3897L14.291 6.12145C14.4776 5.91791 14.7939 5.90421 14.9975 6.09084Z"></path>
                    </svg>
                    <h3 class="accordion__title inline-richtext h4">Do you ship internationally?</h3>
                    <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </path>
                    </svg>
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-collapsible_row_MU96GB-collapsible-content"
                    role="region"
                    aria-labelledby="Summary-collapsible_row_MU96GB-collapsible-content"
                  >
                    <p>
                      Yes, we offer international shipping. International orders usually take 7-14 business days to
                      arrive, depending on the destination and customs processing times.
                    </p>
                  </div>
                </details>
              </div>
              <div class="accordion content-container color-background-2 gradient">
                <details id="Details-collapsible_row_bCWK7e-collapsible-content">
                  <summary
                    id="Summary-collapsible_row_bCWK7e-collapsible-content"
                    role="button"
                    aria-expanded="false"
                    aria-controls="CollapsibleAccordion-collapsible_row_bCWK7e-collapsible-content"
                  >
                    <svg
                      class="icon icon-accordion"
                      aria-hidden="true"
                      focusable="false"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                    >
                      <path d="M18.5 1.5H1.5L1.5 18.5H18.5V1.5ZM1.5 0.5C0.947715 0.5 0.5 0.947715 0.5 1.5V18.5C0.5 19.0523 0.947715 19.5 1.5 19.5H18.5C19.0523 19.5 19.5 19.0523 19.5 18.5V1.5C19.5 0.947715 19.0523 0.5 18.5 0.5H1.5Z" fill-rule="evenodd"></path>
                      <path d="M14.9975 6.09084C15.201 6.27746 15.2147 6.59375 15.0281 6.79728L8.91631 13.4627C8.82231 13.5652 8.68987 13.6239 8.55079 13.6247C8.41172 13.6256 8.27857 13.5684 8.18335 13.4671L4.99513 10.0731C4.80606 9.87179 4.81596 9.55536 5.01723 9.3663C5.21849 9.17723 5.53492 9.18713 5.72399 9.3884L8.54335 12.3897L14.291 6.12145C14.4776 5.91791 14.7939 5.90421 14.9975 6.09084Z"></path>
                    </svg>
                    <h3 class="accordion__title inline-richtext h4">How can I track my order?</h3>
                    <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </path>
                    </svg>
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-collapsible_row_bCWK7e-collapsible-content"
                    role="region"
                    aria-labelledby="Summary-collapsible_row_bCWK7e-collapsible-content"
                  >
                    <p>
                      You can easily track your order by using the tracking number provided in the shipping confirmation
                      email. Simply click on the tracking link in the email, and it will direct you to the courier's
                      website, where you can monitor the real-time status and location of your package.
                    </p>
                  </div>
                </details>
              </div>
              <div class="accordion content-container color-background-2 gradient">
                <details id="Details-collapsible_row_8x6LT3-collapsible-content">
                  <summary
                    id="Summary-collapsible_row_8x6LT3-collapsible-content"
                    role="button"
                    aria-expanded="false"
                    aria-controls="CollapsibleAccordion-collapsible_row_8x6LT3-collapsible-content"
                  >
                    <svg
                      class="icon icon-accordion"
                      aria-hidden="true"
                      focusable="false"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                    >
                      <path d="M18.5 1.5H1.5L1.5 18.5H18.5V1.5ZM1.5 0.5C0.947715 0.5 0.5 0.947715 0.5 1.5V18.5C0.5 19.0523 0.947715 19.5 1.5 19.5H18.5C19.0523 19.5 19.5 19.0523 19.5 18.5V1.5C19.5 0.947715 19.0523 0.5 18.5 0.5H1.5Z" fill-rule="evenodd"></path>
                      <path d="M14.9975 6.09084C15.201 6.27746 15.2147 6.59375 15.0281 6.79728L8.91631 13.4627C8.82231 13.5652 8.68987 13.6239 8.55079 13.6247C8.41172 13.6256 8.27857 13.5684 8.18335 13.4671L4.99513 10.0731C4.80606 9.87179 4.81596 9.55536 5.01723 9.3663C5.21849 9.17723 5.53492 9.18713 5.72399 9.3884L8.54335 12.3897L14.291 6.12145C14.4776 5.91791 14.7939 5.90421 14.9975 6.09084Z"></path>
                    </svg>
                    <h3 class="accordion__title inline-richtext h4">Can I cancel my order after I already paid?</h3>
                    <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </path>
                    </svg>
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-collapsible_row_8x6LT3-collapsible-content"
                    role="region"
                    aria-labelledby="Summary-collapsible_row_8x6LT3-collapsible-content"
                  >
                    <p>
                      Once an order is placed and payment is processed, it enters our system for quick fulfillment.
                      Unfortunately, this means that we cannot guarantee cancellations. However, if you need assistance,
                      please
                      <a
                        href="https://andrii-store-test.myshopify.com/pages/contact"
                        title="https://andrii-store-test.myshopify.com/pages/contact"
                        >contact our customer support</a
                      >
                      as soon as possible, and we'll do our best to assist you.
                    </p>
                  </div>
                </details>
              </div>
              <div class="accordion content-container color-background-2 gradient">
                <details id="Details-collapsible_row_bfVh8n-collapsible-content">
                  <summary
                    id="Summary-collapsible_row_bfVh8n-collapsible-content"
                    role="button"
                    aria-expanded="false"
                    aria-controls="CollapsibleAccordion-collapsible_row_bfVh8n-collapsible-content"
                  >
                    <svg
                      class="icon icon-accordion"
                      aria-hidden="true"
                      focusable="false"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                    >
                      <path d="M18.5 1.5H1.5L1.5 18.5H18.5V1.5ZM1.5 0.5C0.947715 0.5 0.5 0.947715 0.5 1.5V18.5C0.5 19.0523 0.947715 19.5 1.5 19.5H18.5C19.0523 19.5 19.5 19.0523 19.5 18.5V1.5C19.5 0.947715 19.0523 0.5 18.5 0.5H1.5Z" fill-rule="evenodd"></path>
                      <path d="M14.9975 6.09084C15.201 6.27746 15.2147 6.59375 15.0281 6.79728L8.91631 13.4627C8.82231 13.5652 8.68987 13.6239 8.55079 13.6247C8.41172 13.6256 8.27857 13.5684 8.18335 13.4671L4.99513 10.0731C4.80606 9.87179 4.81596 9.55536 5.01723 9.3663C5.21849 9.17723 5.53492 9.18713 5.72399 9.3884L8.54335 12.3897L14.291 6.12145C14.4776 5.91791 14.7939 5.90421 14.9975 6.09084Z"></path>
                    </svg>
                    <h3 class="accordion__title inline-richtext h4">How can I contact you?</h3>
                    <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </path>
                    </svg>
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-collapsible_row_bfVh8n-collapsible-content"
                    role="region"
                    aria-labelledby="Summary-collapsible_row_bfVh8n-collapsible-content"
                  >
                    <p>We're here to help! You can reach our customer support team through the following channels:</p>
                    <ul>
                      <li><strong>Email:</strong> <a>support@example.com</a></li>
                      <li><strong>Phone:</strong> +1 (555) 123-4567</li>
                      <li><strong>Live Chat:</strong> Available on our website during business hours.</li>
                    </ul>
                    <p>
                      For non-urgent inquiries, you can also use our
                      <a
                        href="https://andrii-store-test.myshopify.com/pages/contact"
                        title="https://andrii-store-test.myshopify.com/pages/contact"
                        >Contact Form</a
                      >
                      on the website. We strive to respond to all inquiries within 24 hours.
                    </p>
                  </div>
                </details>
              </div>
            </div>
          </div>

          <div class="bottom_content_line">
            Can’t find the answers you’re looking for? <a href="/pages/contact">Contact Us.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %}
  {% section 'collapsible-content' %}
{% endcomment %}
